* {
  background-color: lightslategrey;
}

input {
  color: white;
  border: none;
}

img {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.4em;
}

@keyframes roundtime {
  to {
    /* More performant than animating `width` */
    transform: scaleX(0);
  }
}

.text {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: papayawhip;
}

.timeBar {
  margin: 0.3em;
  height: 7px;
  border-radius: 7px;
  background: linear-gradient(to bottom, yellow, orange);
  transform-origin: right center;
  /* animation: roundtime ${timer}s linear forwards; */
}

#gameField {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

#wasd {
  display: flex;
  justify-content: center;
  margin: 0.4em;
}

.key {
  font: 2.5em sans-serif;
  background-color: papayawhip;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  margin: 0.1em;
  text-align: center;
  border-radius: 10px;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.true {
  background-color: limegreen;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.false {
  background-color: tomato;
  /* -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset; */
}
